<% if user_signed_in? %>
  <li class="dropdown">
    <%= link_to '#', class: "dropdown-toggle", 'data-toggle' => "dropdown" do %>
      <span class="helper"></span>
      <%= image_tag avatar_url(current_user, size: 32),
                    alt: current_user.name, class: "circle-image" %>
      <div class="user-nav">
        <%= current_user.name %> <span class="caret"></span>
      </div>
      <ul class="dropdown-menu">
        <li>
          <%= link_to edit_user_registration_path do %>
          Profile
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            Settings
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %>
        </li>
        <% if current_user.admin? %>
        <li>
          <%= link_to admin_root_path do %>
            Admin
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          <% end %>
        </li>
        <% end %>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            Log out
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <% end %>
        </li>
      </ul>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to new_user_registration_path do %>
      <span class="glyphicon glyphicon-user"></span> Register
    <% end %>
  </li>
  <li>
    <%= link_to new_user_session_path do %>
      <span class="glyphicon glyphicon-log-in"></span> Login
    <% end %>
  </li>
<% end %>
