<% provide(:title, 'Reset password') %>

<div class="panel panel-success pannel-form">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
      Pick new password
    </h3>
  </div>
  <div class="panel-body pannel-form-body">
    <%= form_for resource, as: resource_name, url: password_path(resource_name),
                           html: { method: :put } do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
      </div>

      <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
