<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= favicon_link_tag 'logo-small.png', type: 'image/png', rel: 'icon'%>
    <%= favicon_link_tag 'logo-small.png', type: 'image/png', rel: 'apple-touch-icon'%>
    <%= stylesheet_link_tag 'application', media: 'all',
                                         'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render 'layouts/shim' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/debugger' %>
  </body>
</html>
