<% provide(:title, 'Sign up') %>

<div class="panel panel-success pannel-form">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
      Sign up
    </h3>
  </div>
  <div class="panel-body pannel-form-body">
    <%= form_for resource, as: resource_name, url: registration_path(resource_name),
                           html: { role: 'form'} do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @validatable %>
          <small>(<%= pluralize @minimum_password_length, 'character' %> minimum)</small>
        <% end %>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
      </div>

      <%= f.submit 'Sign up', class: 'btn btn-primary pull-right' %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
